body{
  background-color: rgb(172, 232, 243)
}

h1{
  text-align: center;
  color: blue;
  text-shadow: 2px 2px #ff0000;
}
h2{
  text-align: center;
  color: blue;
}
h3{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}

div{

  display: inline-block;

}

#section1{
  display: inline-block;
  position: relative;
  border: 1px solid black;
  height: 500px;
  width: 600px;
  padding: 10px;
  background-color: aqua;
  top: 27px;
  margin: 50px;
  }

.description{
  text-align: justify;
  font-size: 20px;
  position: relative;
  bottom: -100px;
}

#section2{
  display: inline-block;
  border: 1px solid black;
  height: 500px;
  width: 600px;
  padding: 10px;
  background-color: aqua;
  margin: 50px;
  }
h6{
  text-align: center;
}